<html lang="en">

<head>
  <title>Pizza Bot</title>
</head>

<body>
  <div class="chat">
    <script>!(function () {
        let e = document.createElement("script"),
          t = document.head || document.getElementsByTagName("head")[0];
        (e.src =
          "https://cdn.jsdelivr.net/npm/rasa-webchat@1.0.1/lib/index.js"),
          // Replace 1.x.x with the version that you want
          (e.async = !0),
          (e.onload = () => {
            window.WebChat.default(
              {
                initPayload: '/greet',
                customData: { language: "en" },
                socketUrl: "http://localhost:5005",
                title: "Pizza Shop Assistant Bot",
                subtitle: " Ask me anything.....",
                fullScreenMode: "true",
                onSocketEvent: onSocketEvent = {
                  'bot_uttered': () => console.log("hh"),
                  'user_uttered': () => console.log("tt"),
                  'connect': () => console.log('connection established'),
                  'disconnect': () => doSomeCleanup(),
                },
                embedded: "true",
                // add other props here
              },
              null
            );
          }),
          t.insertBefore(e, t.firstChild);
      })();
      localStorage.clear();
    </script>
    <script>


    </script>
  </div>
</body>

</html>